body {
font-size: 12pt;
font-family: 'latomedium', arial, sans-serif;
display: block;
position: relative;
margin: auto;
}
h1{
font: normal 1.8em 'latomedium', arial, sans-serif;
text-align: center;
}
div{
	padding: 10px 0;
}
section{
	text-align: center;
	padding-bottom : 20px;
}
.flex-grid {
  display: flex;
}
.col {
  flex: 2;
}
.col_middle{
	flex: 4;
}
.logo img{
	height: 100px;
	width: auto;
	padding-top: 30px;
	display: block;
	position: relative;
	margin: auto;
}
.hidden{
	visibility: hidden;
}

#btnSubmit1{

		width: 100px;
		height: 40px;
		background-color: rgb(40,158,217);
		color: white;
		border-radius: 5px;
	}
#sending{
	background:rgba(0,0,0,0.35);
	width: 100%;
	height: 100%;
	position:fixed;
	top:0px;
	left:0px;
	display: none;
}
#finish_sending{
	background:rgba(0,0,0,0.35);
	width: 100%;
	height: 100%;
	position:fixed;
	top:0px;
	left:0px;
	display: none;
}
#verified_success{
	background:rgba(0,0,0,0.35);
	width: 100%;
	height: 100%;
	position:fixed;
	top:0px;
	left:0px;
	display: none;
}
#invalid_token{
	background:rgba(0,0,0,0.35);
	width: 100%;
	height: 100%;
	position:fixed;
	top:0px;
	left:0px;
	display: none;
}
.sending_inner{
    max-width:700px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}
.sending_inner span{
	width:16px;
	height:16px;
	border-radius:50%;
	display:inline-block;
	position:absolute;
	left:50%;
	margin-left:-10px;
}


.sending_inner span:nth-child(2){
	background:#E84C3D;
	-webkit-animation:kiri 1.2s infinite linear;
	-moz-animation:kiri 1.2s infinite linear;
	-o-animation:kiri 1.2s infinite linear;
	
}
.sending_inner span:nth-child(3){
	background:#F1C40F;
	z-index:100;
}
.sending_inner span:nth-child(4){
	background:#2FCC71;
	-webkit-animation:kanan 1.2s infinite linear;
	-moz-animation:kanan 1.2s infinite linear;
	-o-animation:kanan 1.2s infinite linear;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@-webkit-keyframes kanan {
    0% {-webkit-transform:translateX(20px);
    }
   
	50%{-webkit-transform:translateX(-20px);
	}
	
	100%{-webkit-transform:translateX(20px);
	z-index:200;
	}
}
@-moz-keyframes kanan {
    0% {-moz-transform:translateX(20px);
    }
   
	50%{-moz-transform:translateX(-20px);
	}
	
	100%{-moz-transform:translateX(20px);
	z-index:200;
	}
}
@-o-keyframes kanan {
    0% {-o-transform:translateX(20px);
    }
   
	50%{-o-transform:translateX(-20px);
	}
	
	100%{-o-transform:translateX(20px);
	z-index:200;
	}
}




@-webkit-keyframes kiri {
     0% {-webkit-transform:translateX(-20px);
	z-index:200;
    }
	50%{-webkit-transform:translateX(20px);
	}
	100%{-webkit-transform:translateX(-20px);
	}
}

@-moz-keyframes kiri {
     0% {-moz-transform:translateX(-20px);
	z-index:200;
    }
	50%{-moz-transform:translateX(20px);
	}
	100%{-moz-transform:translateX(-20px);
	}
}
@-o-keyframes kiri {
     0% {-o-transform:translateX(-20px);
	z-index:200;
    }
	50%{-o-transform:translateX(20px);
	}
	100%{-o-transform:translateX(-20px);
	}
}
@media (max-width: 1024px) {
  body{
  font-size: 24pt;
  }
  button{
  width: 140px;
  height: 50px;
  font-size: 24pt;
  }
  #btnSubmit{
  width: 140px;
  height: 50px;
  font-size: 24pt;
  }
  .col {
    flex:1;
  }
}